<!DOCTYPE html>
<html lang="es">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Eats - OpenStreetMap</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="/styles/barStyles.css" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

</head>
<body>

<header th:fragment="header">

    <div class="container">
        <div class="options-bar-icon" id="menu__btn">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="logo" onclick="redirectToIndex()">
            <h1 class="logo-title">Delivery <span>Eats</span></h1>
        </div>
        <div class="option-bar">
            <div class="option active">Entrega a domicilio</div>
            <div class="option">Recolectar</div>
        </div>
        <div class="currentDetails">
            <div class="header-option" onclick="showMap()">
                <i data-feather="map-pin"></i>
                <span class="space-right"><i class="fa-solid fa-location-dot"></i> <span id="locationLabel"></span></span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <label>
                <input id="mainSearchInput" type="text" placeholder="Buscar en DeliveryApp" class="search-input">
            </label>
            <ul id="searchResults" class="results-list"></ul>
        </div>
        <div class="cart-icon" onclick="goToCar()">
            <i class="fa fa-shopping-cart"></i>
            <span class="notification">0</span>
        </div>
    </div>

    <div id="mapModal">
        <div id="mapContainer">
            <input id="searchInput" type="text" placeholder="Buscar lugares..." />
            <ul id="searchSuggestions" style="display:none;"></ul>
            <div id="map"></div>
            <button id="closeMapBtn" onclick="closeMap()">Cerrar</button>
        </div>
    </div>

    <aside class="sidebar">
        <div class="sidebar__wrapper">

            <div id="close-sidebar-btn" class="close-btn">
                <i class="fas fa-times"></i>
            </div>

            <div class="profile">
                <img src="/images/userprofile.png" alt="Profile Picture" class="profile-img">
                <div class="profile-info">
                    <p class="profile-name">Miguel</p>
                    <a class="manage-account" onclick="redirectToUserProfile()">Administra la cuenta</a>
                </div>
            </div>

            <div class="navlinks">
                <a class="route navitem" onclick="redirectToCustomerOrdersPage()">
                    <i class="fas fa-clipboard"></i> Mis Pedidos
                </a>
                <a href="#favorites" class="route navitem">
                    <i class="fa-solid fa-business-time"></i> Mi Restauran
                </a>
                <a href="#help" class="route navitem">
                    <i class="fas fa-life-ring"></i> Ayuda
                </a>
                <a href="#uberone" class="route navitem uber-one">
                    <i class="fas fa-crown"></i> Uber One
                </a>
                <a href="#invite" class="route navitem invite">
                    <i class="fas fa-gift"></i> Invita a tus amigos
                </a>
            </div>

            <div class="logout">
                <a class="route navitem" onclick="redirectToLogin()">
                    <i class="fas fa-sign-out-alt"></i> Cierra sesión
                </a>
            </div>
        </div>
    </aside>

</header>
</body>
</html>
