<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
    <link rel="stylesheet" href="/styles/createRestaurantStyles.css">
</head>
<body>
<div class="container">
    <div class="left-section">
        <h1>Unlock a new revenue stream</h1>
        <p>
            Uber's global platform gives you the flexibility, visibility, and customer insights
            you need to connect with more customers. Partner with us today.
        </p>
    </div>
    <div class="right-section">
        <h2>Get started</h2>
        <form id="signup-form">

            <label for="floor-suite">Nombre del Restaurant</label>
            <input type="text" id="restaurant-name" name="nameRestaurant" placeholder="Nombre del Restaurant" required
                   pattern="[a-zA-Z\s]+"
                   title="El nombre solo debe contener letras y espacios.">

            <label for="store-name">Hora de apertura</label>
            <input type="time" id="open-time" name="openTime" required>

            <label for="brand-name">Hora de cierre</label>
            <input type="time" id="close-time" name="closeTime" required>

            <label for="store-address">Categoría</label>
            <select id="categories" required>
                <option value="" disabled selected>Select...</option>
                <option value="FastFood">Fast Food</option>
                <option value="Pizzeria">Pizzería</option>
                <option value="Cafe">Café</option>
            </select>

            <!-- Contenedor para los ítems seleccionados -->
            <div id="selected-items-container"></div>
            <button type="button" id="add-category-btn">Agregar Categoría</button>

            <label for="first-name">Imagen de fondo</label>
            <input type="text" id="image-path" name="imagePath" placeholder="URL de la imagen de fondo" required>

            <label for="last-name">Foto de perfil</label>
            <input type="text" id="image-logo-path" name="imageLogoPath" placeholder="URL de la foto de perfil" required>

            <button type="submit">Registrar</button>
        </form>
    </div>
</div>
<script src="/js/createRestaurant.js"></script>
</body>
</html>
