<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>

  <!-- Styles -->
  <link rel="stylesheet" href="/styles/loginStyles.css">
  <!-- Icons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- SweetAlert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
<div class="container">
  <div class="form-box login">
    <form th:action="@{/startSession} " th:object="${UserNew}" method="post">
      <h1>Login</h1>
      <div class="input-box">
        <input type="text" th:field="*{email}" name="email" placeholder="Email" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" th:field="*{password}" name="password"  placeholder="Password" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
      <div class="forgot-link">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
      <button type="submit" class="btn">Ingresar</button>
    </form>
  </div>

  <div class="form-box register">
    <form th:action="@{/registerUser}" th:object="${UserNew}" method="post">
      <h1>Registrate</h1>
      <div class="input-box2">
        <input type="text" placeholder="Nombre Completo" id="name" required th:field="*{name}">
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box2">
        <input type="text" placeholder="Numero Telefonico" id="phoneNumber" required th:field="*{phoneNumber}">
        <i class='bx bx-phone'></i>
      </div>
      <div class="input-box2">
        <input type="email" placeholder="Email" id="email" required th:field="*{email}">
        <i class='bx bxs-envelope'></i>
      </div>
      <div class="input-box2">
        <input type="password" placeholder="Contraseña" id="password" required th:field="*{password}">
        <i class='bx bxs-lock-alt'></i>
      </div>
      <div class="input-box2">
        <input type="password" placeholder="Confirmar Contraseña" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
      <button type="submit" class="btn">Registrar</button>
    </form>
  </div>

  <div class="toggle-box">
    <div class="toggle-panel toggle-left">
      <h1 class="margin-left">Hola, Bienvenido a <span>Delivery Eats</span></h1>
      <p>Aun no tienes cuenta?</p>
      <button class="btn register-btn">Registrarse</button>
    </div>
    <div class="toggle-panel toggle-right">
      <h1>Hola de nuevo!</h1>
      <span>¿Ya tienes una cuenta?</span>
        <button class="btn login-btn">Login</button>
    </div>
  </div>
</div>
</body>

<script th:if="${success}">
  Swal.fire({
    icon: "success",
    title: "¡Registro Exitoso!",
    text: "Se registro correctamente el usuario, pase al login"
  });
</script>

<script th:if="${error}">
  Swal.fire({
    icon: "error",
    title: "Oops...",
    text: "Lo siento, hubo un problema con sus credenciales, contraseña o usuario incorrecto, intente nuevamente"
  });
</script>

<script src="/js/login.js"></script>
</html>
