<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subway Page</title>
    <link rel="stylesheet" href="/styles/restaurantDetailsStyles.css">
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<div th:replace="fragments/bar :: header"></div>

<div class="page-container">

    <div class="restaurant-banner">
        <img th:src="@{${restaurant.imagePath}}" alt="Restaurant Banner">
        <div class="restaurant-image">
            <img th:src="@{${restaurant.imageLogoPath}}" alt="Subway Logo">
        </div>
    </div>

    <div class="restaurant-info">
        <div>
            <h1 th:text="${restaurant.nameRestaurant}"></h1>
        </div>
    </div>

    <div class="actions-container">
        <div class="actions">
            <p class="restaurant-info-details">
                <span class="rating">4.1 ★</span> (1,500+) • Costo de envío: $23 •
                <span class="uber-one">Uber One</span> • <a href="#">Información</a>
            </p>
        </div>
        <div class="delivery-info">
            <div class="optionButtons-container">
                <div class="optionButtons active">Ver menu</div>
                <div class="optionButtons">Ver Reviews</div>
                <div class="optionButtons">Escribir Review</div>
            </div>
            <div class="cost-info">
                <p>Costo de envío: $23</p>
                <span class="subtext">Precios y tarifas</span>
            </div>
            <div class="time-info">
                <p>10 min</p>
                <span class="subtext">Llegada más temprana</span>
            </div>
        </div>
    </div>

    <section id="menu-section">
        <div class="restaurants-Section">
            <div class="header">
                <div class="header-title">
                    <h2 class="subtitle-restaurants">Productos populares</h2>
                    <span>Productos amados por sus clientes.</span>
                </div>
            </div>

            <button class="arrow-btn left-arrow-restaurants" id="leftArrow">&#9664;</button>
            <div class="restaurants-carousel recent-restaurants" id="products-Recents"></div>
            <button class="arrow-btn right-arrow-restaurants" id="rightArrow">&#9654;</button>
        </div>

        <div class="container-Products">
            <h1 th:text="${restaurant.nameRestaurant} + ' productos'"></h1>
            <div id="product-container" class="product-grid"></div>
        </div>

        <div id="product-modal" class="modal hidden">
            <div class="modal-content">
                <button id="close-modal" class="close-btn">&times;</button>
                <div class="modal-info">
                    <img id="modal-image" src="" alt="Producto">
                    <div class="modal-details">
                        <h1 id="modal-name"></h1>
                        <p id="modal-price"></p>
                        <p id="modal-description"></p>
                        <div class="dropdown">
                            <button class="dropdown-button">1 <span class="arrow">▼</span></button>
                            <ul class="dropdown-menu">
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li>7</li>
                                <li>8</li>
                                <li>9</li>
                            </ul>
                        </div>
                        <h1>Instrucciones especiales</h1>
                        <textarea id="special-instructions" placeholder="Agregar una nota"></textarea>
                        <p id="subtituloBox">Es posible que se te cobren los artículos adicionales.</p>
                        <button id="add-to-cart" class="add-btn">Agregar al pedido</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="reviews-section hidden" id="view-reviews">
        <h2>Reseñas de clientes</h2>
        <ul id="reviews-list" class="reviews-list">
        </ul>
    </div>

    <div class="write-review-section hidden" id="write-review">
        <h2>Escribe tu reseña</h2>
        <form id="review-form">
            <label for="review-rating">Calificación:</label>
            <select id="review-rating" name="rating">
                <option value="5">5 estrellas</option>
                <option value="4">4 estrellas</option>
                <option value="3">3 estrellas</option>
                <option value="2">2 estrellas</option>
                <option value="1">1 estrella</option>
            </select>

            <label for="review-description">Descripción:</label>
            <textarea id="review-description" name="description" placeholder="Escribe aquí tu opinión"></textarea>

            <button type="submit" class="submit-btn">Enviar reseña</button>
        </form>
    </div>
</div>

<script src="/js/bar.js"></script>
<script src="/js/restaurantDetails.js"></script>

</body>
</html>
