<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>

    <link rel="stylesheet" href="/styles/shoppingCarStyles.css">
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
<header class="header">
    <img src="/images/ICON-Back.png" alt="" onclick="redirectToIndex()">
    <h1>DeliveryApp Carrito</h1>
</header>
<main class="container">
    <section class="products-section">
        <h2>Productos ⚡ FULL</h2>
        <div id="products-container"></div>
        <div class="shipping">
            <p>Envío</p>
            <div class="shipping-status">
                <div class="progress-bar"></div>
                <span>Envío con costo</span>
            </div>
        </div>
    </section>

    <aside class="summary-section">
        <h2>Resumen de compra</h2>
        <p id="products">Productos (5): $1,625.79</p>
        <p id="shippingLabel">Envíos (3): Gratis</p>
        <div class="total">
            <p>Total</p>
            <p id="totalPrice">$1,625.79</p>
        </div>
        <button id="buttomConfirm" class="checkout-button" onclick="redirectToPurchaseOrder()">Continuar compra</button>
    </aside>

</main>
<script src="/js/shoppingCar.js"></script>
</body>
</html>
