<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil DeliveryApp</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/styles/userProfile.css">
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div class="container">
    <header>
        <img id="img" src="/images/back.png" alt="" onclick="redirectToIndex()">
        <h1>Cuenta DeliveryApp</h1>
    </header>
    <main>
        <aside class="sidebar">
            <button id="btn-info" class="active">Información de la cuenta</button>
            <button id="btn-security">Seguridad</button>
            <button id="btn-privacy">Protección de datos</button>
        </aside>
        <section class="content" id="content">
            <div id="info" class="section active">
                <div th:object="${user}">
                    <h2>Información de la cuenta</h2>
                    <div class="profile">
                        <img src="/images/userprofile.png" alt="Imagen de perfil">
                        <p>Información básica</p>
                        <ul>
                            <li>
                                <strong>Nombre:</strong>
                                <span th:text="*{name}"></span>
                                <button class="edit-btn" data-target="edit-name">✎</button>
                            </li>
                            <li>
                                <strong>Número de teléfono:</strong>
                                <span th:text="*{phoneNumber}"></span>
                                <button class="edit-btn" data-target="edit-phone">✎</button>
                            </li>
                            <li>
                                <strong>Correo electrónico:</strong>
                                <span th:text="*{email}"></span>
                                <button class="edit-btn" data-target="edit-email">✎</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="modal" th:object="${user}" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div id="modal-body"></div>
                    </div>
                </div>
            </div>
            <div id="security" class="section">
                <h1>Seguridad</h1>
                <p>Si desea restablecer su contraseña llene los siguiente campos:</p>

                <div class="password-content">
                    <form>
                        <label class="labelPassword" for="last-Password" >Ingrese contraseña Antigua</label>
                        <input type="password" id="last-Password" value="" required>
                        <label class="labelPassword" for="new-Password">Ingresen la nueva contraseña</label>
                        <input type="password" id="new-password" required>
                        <label class="labelPassword" for="new-password-Confirm">Confirme la nueva contraseña</label>
                        <input type="password" id="new-password-Confirm" required>
                        <button id="updatePasswordButton" class="buttonRegister" type="submit">Actualizar</button>
                    </form>
                </div>
            </div>
            <div id="privacy" class="section">
                <h1>Protección de datos</h1>
                <h2>Privacidad</h2>
                <h3>Centro de privacidad</h3>
                <p>Controla tu privacidad y conoce cómo la protegemos.</p>

                <h3>Apps de terceros con acceso a la cuenta</h3>
                <p>Una vez que permitas el acceso a las apps de terceros, las verás aquí. Conoce más.</p>
            </div>
        </section>
    </main>
</div>
<script src="/js/userProfile.js"></script>
</body>
</html>
